__pycache__
*.pyc
*.pyo
*.pyd
.Python
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.git
.gitignore
.pytest_cache
.venv
venv/
ENV/
.env
tests/
.github/
*.md
